*.log
.DS_Store
/public/google-app-credentials.json
.env
.env.dev
.env.backup
.env.production
auth.json
npm-debug.log
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/storage
/storage/*.key
/storage/pail
/vendor
/complete-Backup-14-Aug-2026.zip
Homestead.json
Homestead.yaml
Thumbs.db
/nbproject/private/
/nbproject/
.history
.lh
/assets
yarn-error.log
/index.php
/.htaccess
# composer.json
# composer.lock
/bootstrap/cache/*.php
!bootstrap/cache/.gitkeep
